    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact-ShopEasy</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/contact.css">
    </head>
    <body>
            <header class="header">
        <div class="logo"> 🏪 ShopEasy</div>
        <input type="search" id="inp" placeholder="Search products...">
        <a href="cart.html"><button id="btn">🛒 Cart</button></a>
    </header>

    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="categories.html" >Categories</a></li>
            <li><a href="products.html" >Products</a></li>
            <li><a href="contact.html" >Contact Us</a></li>
        
        <div class="auth-buttons">
        <a href="signup.html" class="signup-btn">Sign Up</a>
    </div>
    </ul>
    </nav>
    <div class="container">
    <form action="/contact" method="post">
        
        <h1>Contact Us</h1>
    <p>Have a question? We'd love to hear from you.</p>
        <label>Name</label>
        <input type="text" name="name" placeholder="Enter your name" required>

        <label>Email</label>
        <input type="email" name="email" placeholder="Enter your email" required>

        <label>Message</label>
        <textarea name="message" placeholder="Write your message"></textarea>
<button type="submit">Send Message</button>
    </form>

    <h3>Our Contact Details</h3>
    <p>📍 Jaipur, Rajasthan</p>
    <p>📞 +91 9876543210</p>
    <p>📧 support@shopeasy.com</p>
    </div>

        <footer><p>© 2026 ShopEasy. All Rights Reserved.</p></footer>

        <script src="/script.js"></script>
    </body>
    </html>