<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products - ShopEasy</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/product.css">
</head>
<body>
    <header class="header">
    <div class="logo"> 🏪 ShopEasy</div>
    <input type="search" id="inp" placeholder="Search products...">
    <a href="cart.html"><button id="btn">🛒 Cart</button></a>
</header>

<nav class="navbar">
    <div class="menu-icon" onclick="toggleMenu()">
        ☰
    </div>
    <ul id="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="categories.html" >Categories</a></li>
        <li><a href="products.html" >Products</a></li>
        <li><a href="contact.html" >Contact Us</a></li>
   
    <div class="auth-buttons">
        <a href="signup.html" class="signup-btn">Sign Up</a>
    </div> </ul>
</nav>

    <section class="head_section">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <h1>Our Products</h1>
        <p>
            Find the best electronics, fashion, and accessories at amazing prices.
        </p>
        <p>100+ Products,
Best Deals and
Quality Guaranteed</p>
<p>  🛍️ Latest Collection  |  🔥 Best Offers</p>
    </section>
    <h2 class="product_title">
Explore our latest products</h2>
 
    
<div class="product_section" id="products"></div>
    <footer><p>© 2026 ShopEasy. All Rights Reserved.</p></footer>
    
    <script src="/script.js"></script>
    <script src="/product.js"></script>
</body>
</html>